@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800');

/* global */
body{
    padding: 0;
    margin: 0;
    background: #F1F1F2;
    font-family: 'Ubuntu', sans-serif;
}
h1,h2,h3{
    margin: 0;
}
h2{
    margin: 0 0 15px;
}
a{
    text-decoration: none;
    color: #fff;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid rgba(220,220,220, .5);
    transition: 0.2s ease all;
    z-index: 1;
}
header.shrink{
    height: 50px;
    background: #1d428a;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}
.header-inner{
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: flex-end;
    padding: 0 5px;
}
.logo{
    position: absolute;
    margin-top: 10px;
    left: 20;
    height: 100px;
    transition: 0.2s ease all;
}
.logo-txt{
    margin: auto auto 0 70px;
    transition: 0.2s ease all;
}
.logo-txt a{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #000;
}
.logo.shrink{
    height: 50px;
}
.logo-txt.shrink{
    margin-left: 50px;
    color: #fff;
}
.logo-txt.shrink a{
    color: #fff;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 30px;
    font-size: 15px;
    margin-top: 25px;
    transition: 0.2s ease all;
}
nav ul li{
    display: inline-block;
    padding: 0 20px;
}
nav ul li:nth-child(2){
    padding-right: 0;
}
nav ul li a{
    color: #5C5554;
}
nav.shrink ul{
    margin-top: 10px;
}
nav.shrink ul li a{
    color: #fff;
}
main{
    margin-top: 80px;
}
/* search */
.search-container{
    margin: 0 auto 28px;
    text-align: center;
    background: #1d428a;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in all;
}
form{
    margin: 0;
}
.search-box{
    width: 600px;
    text-align: left;
}
#search{
    border: none;
    width: 550px;
    height: 50px;
    padding: 0 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
.search-btn{
    height: 50px;
    width: 50px;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    cursor: pointer;
    color: #1d428a;
    transition: 0.2s ease-in all;
}
.search-btn:hover{
    color: #8c989a;
}
.search-btn i{
    font-size: 20px;
}
#search:focus, .search-btn:focus{
    outline: none;
}
.adv-search{
    display: block;
    color: #fff;
    text-align: right;
    font-size: 12px;
    margin: 15px 0 0;
    cursor: pointer;
}
.page-wrapper{
    max-width: 1200px;
    margin: 120px auto 20px;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
}
.page-wrapper img{
    display: block;
    margin: 20px auto;
}
.results-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 0 5px;
}
.results{
    background: #fff;
    padding: 10px;
    top: -60px;
    width: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
.results-header{
    border-bottom: 1px #d8d8d9 solid;
    margin: 0px 10px;
    display: flex;
    align-content: center;
}
.results-num{
    color: #1D4289;
    font-weight: 600;
    padding: 0;
    margin: 10px 0 0 0;
}
.result-stat-header{
    margin-left: auto;
    padding: 10px 0;
}
.result-stat-header span{
    display: inline-block;
    width: 40px;
    padding: 0 10px;
    text-align: left;
    font-size: 12px;
    color: #A9A9A9;
}
.filters{
    grid-column-start: 2;
    height: 500px;
    top: 0;
}
.result-player{
    border-bottom: 1px #d8d8d9 solid;
    margin: 0px 10px;
    display: flex;
    height: 60px;
    align-items: center;
}
.result-player-name{
    font-weight: 600;
    font-size: 20px;
}
.result-player-name a{
    color: #000;
}
.result-player-info, .player-info, .related-player-info{
    border: 1px solid #8c989a ;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    margin: 0px 30px;
    color: #8c989a;
}
.player-info{
    bottom: 15;
    position: relative;
    margin: 0px 20px;
}
.related-player-info{
    margin: 0 0 0 auto;
}
.result-player-info span:nth-child(4):before, .player-info span:nth-child(4):before{
    content:"-";
    background: #fff;
}
.player-info img, .result-player-info img, .related-player-info img{
    height: 30px;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}
.player-info span, .result-player-info span, .related-player-info span{
    color: #8c989a;
    vertical-align: middle;
}
.result-player-stats{
    margin-left: auto;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    color: #000;
    height: 30px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    background: #e5e5e5;
}
.result-player-stats span{
    display: inline-block;
    width: 40px;
    padding: 0 10px;
    text-align: right;
    border-right: 1px #d8d8d9 solid;
    font-size: 17px;
}
.result-player-stats span:last-child{
    border: none;
}
.no-results{
    margin: 10px 10px;
}
.filters{
    display: block;
    height: auto;
    margin-top: 10px;
    width: 600px;
    text-align: left;
}
.filters select{
    -webkit-appearance: none;
    appearance: none;
    padding: 5px 25px 5px 0;
    background: transparent;
    border: none;
    color: #fff;
    background: url(../img/down.svg) no-repeat 95% center;
    background-size: 10px 10px;
    cursor: pointer;
    margin: 0 20px 0 0;
}
.filters select:focus{
    outline: none;
}
.filters select option{
    color: #000;
}
.pagination{
    max-width: 1200px;
    margin: -20px auto 0;
    text-align: left;
}
.pagination ul{
    padding: 0;
    background: #fff;
    display: inline-block;
    text-align: center;
    margin: 0 0 0 -5px;
}
.pagination ul li{
    display: inline-block;
    padding: 5px 10px;
    font-weight: 600;
    margin: 8px 0;
    width: auto;
}
.pagination ul li a, .pagination ul li i{
    color: #8c989a;
}
.pagination ul li a:hover, .pagination ul li i:hover{
    color: #1d428a;
}
.page.active{
    background: #1d428a;
    color: #fff;
    border-radius: 5px;
}
/* details */
.stats-tbl table{
    width: 100%;
    border-collapse: collapse;
}
.stats-tbl th{
    color: #8c989a;
    font-weight: 100;
}
.stats-tbl th, .stats-tbl td{
    height: 30px;
    font-size: 12px;
    text-align: center;
    padding: 0 3px;
}
.stats-tbl tr{
    border-radius: 50px;
}
.stats-tbl td{
    background: #e5e5e5;
    height: 50px;
    font-size: 17px;
}
.stats-tbl td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.stats-tbl td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.details-container{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin: 30px 0;
}
.player-details{
    grid-column: 1;
}
.player-img{
    grid-column: 2;
    height: 500px;
}
.player-img img{
    display: block;
    max-width:100%;
    max-height:500px;
    width: auto;
    height: auto;
    margin: 0;
    margin-left: auto;
}
.player-fname, .player-lname{
    font-family: 'Montserrat', sans-serif;
}
.player-fname{
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
}
.player-lname{
    font-size: 60px;
    padding: 0;
    margin: 0;
    line-height: 60px;
    font-weight: 600;
    display: inline-block;
    padding: 0 0 20px 0;
    border-bottom: 2px solid #1D4289;
}
.player-measurements{
    display: grid;
    grid-template-columns: 120px 120px;
    grid-template-rows: 30px 55px;
    margin: 20px 0 0 0;
    border-bottom: 2px solid #1D4289;
    width: 200px;
}
.player-height{
    grid-column: 1;
}
.player-weight{
    grid-column: 2;
}
.player-measurements span{
    color: #8c989a;
    font-size: 15px;
}
.measurement{
    font-size: 30px !important;
    font-weight: 600;
    line-height: 30px;
    color: #000 !important;
}
.player-awards{
    display: grid;
    grid-template-columns: 120px 200px;
    grid-template-rows: repeat(20px);
    margin: 20px 0 0 0;
    width: 200px;
}
.player-awards span{
    color: #8c989a;
    margin: 5px 0;
}
.award{
    color: #000 !important;
    font-weight: 600;
}
.related-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1220px;
    margin: 0 auto;
    grid-gap: 10px;
}
.related-player{
    background: #fff;
    padding: 10px;
    border-right: 5px;
    display: flex;
    justify-content: center;
}
.related-player-name{
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    margin: 10px auto 0 0;
}
.related-player-name a{
    color: #000;
}
/* design */
.design-tbl{
    overflow-x: auto;
    margin: 10px 0 30px;
}
.design-tbl table{
    border-collapse: collapse;
}
.design-tbl th{
    background: #032f4f;
    color: #fff;
    font-weight: 100;
    padding: 5px 10px;
}
.design-tbl td{
    padding: 5px 10px;
}
.design-tbl tr:nth-child(even){
    background: #ebebec;
}
.design-tbl tr:nth-child(old){
    background: #e3e3e4;
}
